<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Welcome to The Quadrus Motor Store</p>
      <div class="list-group">
        <a href="#" class="list-group-item">Welcome to Quadrus Motors, we pride ourselves on providing our customers with luxury cars at great prices.</a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <% @cars.each do |car| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <%= link_to car do %>
                <% if car.image.present? %>
                  <%= image_tag car.image %>
                <% else %>
                  <%= render 'shared/no_image' %>
                <% end %>
              <% end %>

              <div class="caption">
                <h4><a href="#"><strong><%= car.make %></strong>&nbsp;<%= car.model %></a></h4>
                <h3><%= number_to_currency(car.price) %></h3>
                <p><%= car.description %></p>
              </div>
              <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
              <div class="order">
                <% if car.available %>

                  <%= link_to "Order Now!", new_car_order_path(car), class: "btn btn-success" %>
                <% else %>
                  <button class="btn btn-success" disabled>Not Available</button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
